
#meinButton {
    font-size: 2rem;
    background-color: #C71585;
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    cursor: pointer;
    position: relative;
    top: 280px;
    left: 750px;
}

#PunktestandgameOver{
    top: 250px;
    left: 1150px;
    font-size: 35px;
    font-family: 'Digital-7', sans-serif;
}